<app-header
        [leftIcon]='icons.navigateBack'
        (click)='navigateToHome()'
></app-header>

<h4 class='ml-3'>Server Info</h4>

<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Up Time</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='uptime' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Total Memory/MB</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.totalmem | numberToXb' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Free Memory/MB</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.freemem | numberToXb' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">1 min Load Average</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.loadavg[0] | decimalToPercentage' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">5 min Load Average</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.loadavg[1] | decimalToPercentage' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">15 min Load Average</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.loadavg[2] | decimalToPercentage' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Temperature</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='number' [ngModel]='serverInfo.temp' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Disk size</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.diskSize | numberToXb' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Disk used %</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.diskUsedPercent + " %"' readonly>
  </div>
</div>

<hr/>
<div class='row ml-3 mr-3'>
  <div class='col-6'>
    <p class="float-right">Disk free</p>
  </div>
  <div class='col-6'>
    <input class='form-control' type='string' [ngModel]='serverInfo.diskFree | numberToXb' readonly>
  </div>
</div>