<ul class="list-group">
    <li class="list-group-item container-fluid">
        <div class="row">
            <h3>{{ track.name }}</h3>
        </div>
        <div class="row">
            <img src="http://localhost:3000/images/{{ track.name }}"/>
        </div>

        <div
                class="row">
            <div class="col-sm-2">
                <div
                        *ngIf="isEditMode() && !isFirst"
                        (click)="moveUp(track)"
                        class="fa fa-angle-double-up"
                        style="font-size: 400%"
                ></div>
            </div>


            <div class="col-sm-2">
                <div
                        *ngIf="isEditMode() && !isLast"
                        (click)="moveDown(track)"
                        class="fa fa-angle-double-down"
                        style="font-size: 400%"
                ></div>
            </div>

            <div class="col-sm-2">
                <app-checkbox
                        [value]="track.repeat"
                        [styles]="['fa fa-refresh', 'fa fa-refresh']"
                        [colors]="['green', 'grey', 'grey']"
                        (toggleEvent)="toggleRepeat($event)"
                        style="font-size:200%"
                ></app-checkbox>
            </div>

            <div class="col-sm-2">
                <app-checkbox
                        [value]="track.autostartNext"
                        [styles]="['fa fa-fast-forward', 'fa fa-stop']"
                        [colors]="['green', 'red', 'grey']"
                        (toggleEvent)="toggleAutostartNext($event)"
                        style="font-size:200%"
                ></app-checkbox>
            </div>

            <div class="col-sm-2">
                <app-checkbox
                        *ngIf="isEditMode()"
                        [value]="true"
                        [styles]="['fa fa-cut']"
                        [colors]="['red']"
                        (toggleEvent)="cut(track)"
                        style="font-size:200%"
                ></app-checkbox>
            </div>

        </div>
    </li>
</ul>
