<ul class="list-group">
    <li class="list-group-item">
        <img src="http://localhost:3000/images/{{ track.name }}"/>
        <span>{{ track.name }}</span>
        <span>
            repeat:
            <app-checkbox
                [value]="track.repeat"
                [enabled]="true"
                (toggleEvent)="toggleRepeat($event)"
            ></app-checkbox></span>
        <span>
            autostart:
            <app-checkbox
                [value]="track.autostartNext"
                [enabled]="true"
            ></app-checkbox></span>
    </li>
</ul>
