/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "external/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.min.css";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.flip {
    transform: scaleX(-1);
}

.flipRotate90 {
    transform: scaleX(-1) rotate(270deg);
}

.flipRotate180 {
    transform: scaleX(-1) rotate(180deg);
}

.flipRotate270 {
    transform: scaleX(-1) rotate(90deg);
}

@font-face {
    font-family: 'icomoon';
    src:  url('external/align/fonts/icomoon.eot?fye9zs');
    src:  url('external/align/fonts/icomoon.eot?fye9zs#iefix') format('embedded-opentype'),
    url('external/align/fonts/icomoon.ttf?fye9zs') format('truetype'),
    url('external/align/fonts/icomoon.woff?fye9zs') format('woff'),
    url('external/align/fonts/icomoon.svg?fye9zs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vertical_align_top:before {
    content: "\e900";
}
.icon-vertical_align_center:before {
    content: "\e901";
}
.icon-vertical_align_bottom:before {
    content: "\e902";
}
.icon-valign-top:before {
    content: "\e903";
}
.icon-valign-middle:before {
    content: "\e906";
}
.icon-valign-bottom:before {
    content: "\e907";
}