input.color {
    height: 30px;
    padding: 0px;
}

hr {
    margin-top: 4px;
    margin-bottom: 0px;
}

a.nav-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    margin-left: 1px;
    margin-right: 1px;
}

a.nav-link.active {
    background-color: white;
    color: #0062cc;
    border-top-color: #007bff;
    border-left-color: #007bff;
    border-right-color: #007bff;
    border-width: 1px;
}

.scrollx {
    overflow-x: auto;
}