<app-header
        [leftIcon]="icons.navigateBack"
        (leftIconClick)="navigateToHome()"
></app-header>

<h4 class="ml-3">{{ getModeDisplayText() }}</h4>
<ul class="list-group">
    <li
            routerLink="/playlists/{{ playlist }}"
            [queryParams]="{ mode: mode }"
            class="list-group-item"
            *ngFor="let playlist of playlists"
    >
        {{ playlist }}
        <span
                [ngClass]="icons.navigateForward"
                class="float-right"
                aria-hidden="true"
        ></span>
    </li>
</ul>
