<h4 class="ml-3">Play {{ playlistName }}</h4>

<div>
    <app-track
            *ngFor="let track of playlist; first as isFirst; last as isLast"
            [track]="track"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [mode]="mode"
            (onMoveDown)="moveDown($event)"
            (onMoveUp)="moveUp($event)"
            (onCut)="cut($event)"
    ></app-track>

    <div
            *ngIf="successMessage.message"
            class="alert alert-primary mt-1"
            role="alert">
        {{ successMessage.message }}
    </div>

    <div
            *ngIf="errorMessage.message"
            class="alert alert-danger mt-1"
            role="alert">
        {{ errorMessage.message }}
    </div>

    <div class="container mt-2">
        <button
                *ngIf="mode == 'play'"
                (click)="play()"
                class="btn btn-success btn-lg btn-block mt-1"
        >Play
        </button>

        <button
                *ngIf="mode == 'edit'"
                (click)="navigateAddTrack()"
                class="btn btn-primary btn-lg btn-block mt-1"
        >Add Track
        </button>

        <button
                *ngIf="mode == 'edit'"
                (click)="save()"
                class="btn btn-danger btn-lg btn-block mt-1"
        >Save
        </button>
    </div>
</div>

