<app-header
        leftIcon="fa fa-angle-double-left"
        (leftIconClick)="navigateToHome()"
></app-header>

<div class="col-sm-12">
    <h4>Enter Playlist Name</h4>
</div>

<div class="col-sm-12">
    <div class="form-group">
        <input
                [(ngModel)]="name"
                type="text"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Enter Playlist Name"/>
    </div>
</div>

<div *ngIf="messages[0]" class="alert alert-primary" role="alert">
    {{ messages[0] }}
</div>


<div *ngIf="messages[1]" class="alert alert-danger" role="alert">
    {{ messages[1] }}
</div>

<div class="container">
    <div class="row mt-2">
        <button
                (click)="addPlaylist()"
                class="btn btn-primary btn-lg btn-block"
                [disabled]="!name"
        >Add
        </button>
    </div>
</div>