<app-header></app-header>

<main role="main" class="container">

    <div class="row mt-5">
        <button
                routerLink="/playlists"
                [queryParams]="{mode: 'play'}"
                class="btn btn-primary btn-lg btn-block"
        >Play Playlist
        </button>

        <button
                routerLink="/playlists"
                [queryParams]="{mode: 'edit'}"
                class="btn btn-primary btn-lg btn-block"
        >Edit Playlist
        </button>

        <button
                routerLink="/playlists/create"
                class="btn btn-primary btn-lg btn-block"
        >Create Playlist
        </button>
    </div>

</main>