<ul class="list-group">
    <li
            class="list-group-item"
            *ngFor="let image of images"
    >
        <div >
            <img
                    src="{{ restURL }}/images/{{ image.name }}"
                    style="max-height: 50px;"
            />
            <span>{{ image.name }}</span>

            <app-checkbox
                    [value]="image.selected"
                    (toggleEvent)="toggleImage(image)"
                    class="float-right"
            ></app-checkbox>

            <app-checkbox
                    [value]="image.added.message"
                    [styles]="['fa fa-check', 'fa fa-plus']"
                    [colors]="['green', 'blue']"
                    (toggleEvent)="addImage(image)"
                    class="float-right"
            ></app-checkbox>

        </div>
    </li>
</ul>

<div class="row mt-1">
    <button
            (click)="addSelected()"
            class="btn btn-primary btn-lg btn-block"
    >Add Selected
    </button>
</div>

<div class="row mt-1">
    <button
            (click)="returnToPlaylist()"
            class="btn btn-success btn-lg btn-block"
    >Return
    </button>
</div>

<div class="row mt-1">
    <button
            (click)="selectAll()"
            class="btn btn-primary btn-lg btn-block"
    >Select All
    </button>
</div>

<div class="row mt-1">
    <button
            (click)="unselectAll()"
            class="btn btn-danger btn-lg btn-block"
    >Un-select All
    </button>
</div>