<ul class="list-group">
  <li
      class="list-group-item"
      *ngFor="let image of images"
  >
    <img src="http://localhost:3000/images/{{ image.name }}"/>
    <span>{{ image.name }}</span>
    <app-checkbox
        [value]="image.selected"
        [enabled]="true"
        [forObject]="image"
        (toggleEvent)="toggleImage($event)"
        class="float-right"
    ></app-checkbox>
  </li>
</ul>

<div class="row mt-1">
  <button
    (click)="buttonClick($event)"
    class="btn btn-primary btn-lg offset-md-4 col-md-3 mt-2"
  >Add</button>
</div>
