<header style="background-color: #FEE">
    <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark row">
        <div
                (click)="doLeftIconClick()"
                *ngIf="leftIcon"
                [ngClass]="leftIcon"
                class="ml-3"
                style="color: white; font-size: 200%;"
                aria-hidden="true"
        ></div>

        <div class="text-center">
            <a
                    [routerLink]="['/']"
                    class="navbar-brand"
            >{{ title }}</a>
        </div>

        <div
                (click)="doMenuClick()"
                [ngClass]="icons.hamburger"
                class="float-right mr-3"
                style="color: white; font-size: 200%;"
                aria-hidden="true"
        ></div>

    </nav>
</header>